/* ==UserStyle==
@name         semi-better vordebugger
@description  an attempt to improve the vordebugger's config page
@version      1.5

@author     macimas (https://macimas.github.io)
@namespace  https://github.com/macimas

@preprocessor stylus

@var  checkbox  expander-on-bottom  "Expander on bottom"               1
@var  checkbox  darker-expander     "Darker expander (for dark mode)"  0

@var  checkbox  tweak-startube      "Tweaks for StarTube"           1
@var  checkbox  tweak-startube-win  "^ Also tweak settings window"  1

@var  text  vordebugger-width   "Vordebugger width"   "480px"
@var  text  vordebugger-height  "Vordebugger height"  "calc(100vh - 64px)"
==/UserStyle== */

@-moz-document domain("www.youtube.com") {
	icons = url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAABUCAYAAACLOrcbAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAImSURBVHgB7VdBUsIwFP2NHQZ33kA5gbhzw0w5geMJHE4gW2BBHRhgp5xAt+7wBPQIvQE9Au6EBfX/kkga0lII2pHpmwlpk/73f35+/ifWcDgMwQAMDGFMYAxLPKT5otVqWeo8jVFvvAQ764dC48EESUuw1YF9kdmJSXPGSziBXcj/LOQPq8hIeh/oMlASfu8sZM0PmS3AJXWpHUTABV1qKslOAklYIEbC9hB+4i1GkujEwWDQlIXRqS4npS4ixm8+Ey2wLGuCXSALE/gzWRLQN4kE+GGwWCxuZGGZhM8F8P8RheuhSYXCPf+EcgIE+aOIgyIOtOj1es5oNHrG2Jiqczh2pY79pHXXdS/K5XI3DMMmNlitVg0N/wNsakMEJoRLpdKUhKU5X6OdCoqzRUCaMcdX5YlOp+MrwmJJr/JSGL0ommPgFWqGTQhRP+PjwFBzVyfY7/cvqW+32y/YVWBdpYD3FT4ODLVXdQSMsXvxzCuQcGpdrkjkAy0BWnYnv6OQB+s6GcQUQTIcsU4Jb1uK0Imyg1TMMR7q8o6oIAs+IBkX6IupxpKYBQ5s9jgNAVpDUejLFomcSFvyCPthjA5tRk7EPwsuKKGbBtx6n8vAGf14nvdVq9Xebds+x9fbHfLj5XLZwPMzB5AungLi0GC7hk2MBLB29oTHQwEJqX/ps9TM4104hDbdRSPt8mFugbrONEt0PjG2wErTnMWa41mgw5/EwQngG/hTCnQFd4DlAAAAAElFTkSuQmCC")

	dark-mode = ".css-httpsvorapispagesdevproductv3resourcesjfkdarkmodecss"

	:root {
		/* ah yes, blue can be red */
		/* for DARK_MOD compat stuff. you probably dont need to touch this */
		--var-red: var(--default-red, #d14836);
		--var-blue: var(--default-blue, var(--var-red));
	}
	
	if (tweak-startube) {
		if (tweak-startube-win) {
			#st-settings-dd-fence
			{ z-index: 20000000000 }
		}

		#startube13-settings {
			z-index: 1;
		
			position: absolute;
			bottom: 0px;
			right: 10px;
			
			border-top: unset;
		}
		
		#startube13-settings, #startube13-settings button
		{ height: 40px }
		
		#st-settings-button .yt-uix-button-content
		{ display: none }
		
		#st-settings-button {
			display: flex;
			align-items: center;
			gap: 5px;
			
			padding: 9px;
		}
		
		#st-settings-button::before {
			content: "★";
			font-size: 20px;
			line-height: 1;
		}
		
		#st-settings-button::after {
			all: unset;
			
			content: "StarTube";
			text-transform: none;
			line-height: 1;
		}
		
		#startube13-settings:hover,
		html:has(#startube13-settings-window:not(.hid)) #startube13-settings {
			box-sizing: border-box;
			border-bottom: 2px solid #d19807;
		}
		
		#startube13-settings:hover #st-settings-button,
		html:has(#startube13-settings-window:not(.hid)) #st-settings-button
		{ color: #d19807 }
		
		/* tweaks for dark mode */
		html:has({dark-mode}) {
			& #startube13-settings:hover,
			&:has(#startube13-settings-window:not(.hid)) #startube13-settings
			{ border-bottom: 2px solid #f7d190 }

			& #st-settings-button
			{ color: var(--color-666) }

			& #startube13-settings:hover #st-settings-button,
			&:has(#startube13-settings-window:not(.hid)) #st-settings-button
			{ color: #f7d190 }
		}
	}

	#vor_debugger_container
	{ z-index: 2000000000 }

	.vordebugger .default-text-red
	{ color: var(--var-red) }

	.vordebugger.expanded {
		display: flex;
		
		margin-right: 0px;
		
		width: vordebugger-width;
		max-height: vordebugger-height;
	}
	
	if (expander-on-bottom) {
		.vordebugger.expanded
		{ flex-direction: column-reverse }
	} else {
		.vordebugger.expanded
		{ flex-direction: column }
	}

	if (true) {
		.vdbg-titlebar {
			flex-shrink: 0;
			display: flex;
			justify-content: space-between;
		}
		
		.vdbg-titlebar-actions {
			padding-right: 15px;
		}
	}

	if (darker-expander) {
		html:has({dark-mode}) .vdbg-titlebar {
			background-image: linear-gradient(to bottom, var(--color-ccc) 0, var(--color-e5) 100%);
			height: 35px;
			color: white;
			width: 100%;
		}
	}

	.vordebugger.expanded .vdbg-content {
		display: flex;
		flex-direction: column;
		
		border-width: 1px;
		border-bottom-width: 0px;
	}

	.vdbg-content .ddd-build-info {
		padding: 7px 10px;
		
		color: var(--color-black-text, #000);
		background: transparent;
		border-bottom: 1px solid var(--color-ddd, #ddd);
	}

	.vor_smartnav, .smartnav, .smartnav_slotlist {
		overflow: hidden;
		display: flex;
	}
	
	.smartnav, .smartnav_slotlist, .smartadd.selected
	{ width: 100% }

	.smartnav_slotlist {
		overflow-y: auto;
		
		margin-bottom: 40px;
	}

	.smartnav_slotlist::after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		content: " ";

		height: 40px;
		
		background: var(--color-fff, transparent);
		border-top: 1px solid var(--color-b8, #e6e6e6);
	}

	.smartadd_title {
		z-index: 1;
		color: var(--color-666, #666);
	}

	.internal-config.goog-scrollbar
	{ padding: 10px }

	.internal-config-section.outside
	{ position: relative }

	.vordebugger .yt-uix-form-input-checkbox-container {
		margin-right: 5px;
	}

	.vordebugger .logview-title {
		cursor: default;
		
		color: var(--var-blue);
	}

	.vordebugger .logview-title-expander
	{ border-top-color: var(--var-blue) }

	.logview-title, .logview-subtitle
	{ width: auto }

	.logview-stream, .internal-config
	{ max-height: none }

	.internal-config-section + .internal-config-section
	{ border-color: var(--color-ddd, #ddd) }

	.internal-config-section .internal-config-section-title {
		display: flex;
		
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
		gap: 13px;
		
		margin-left: -2px;
		
		text-transform: none;
	}
	
	.internal-config-section:not(.yt-uix-expander-collapsed) .internal-config-section-title:after
	{ top: -4px }
	
	.internal-config {
		display: flex;
		flex-direction: column;
	}

	.internal-setting {
		margin-top: 5px;
		
		line-break: anywhere;
	}
	
	.internal-config .create-playlist {
		display: flex;
		flex-direction: row-reverse;
		gap: 5px;
	}
	
	.internal-config .create-playlist .playlist-create-form-playlist-name,
	.internal-config .create-playlist .yt-uix-form-input-container
	{ width: 100% }

	.internal-config .create-playlist .yt-uix-form-input-container
	{ display: grid }
	
	.internal-config .create-playlist input
	{ width: unset }

	.internal-setting-description {
		margin-left: 25px;

		max-width: none;
	}
	
	.internal-setting-description:last-child {
		margin-bottom: 10px;
	}

	.logview-extra-buttons
	{ margin-top: unset }

	.logview-extra-buttons button
	{ margin-top: 5px }
	
	/*
	** === for userscript ===
	*/
	
	.mdt2-vdbg-subtitle {
		color: var(--color-555, #555);
		font-size: 12px;
		line-height: 15px;
		margin-left: 1px;
	}
	
	.mdt2-vdbg-margin-top
	{ margin-top: 10px }

	.mdt2-vdbg-margin-bottom
	{ margin-bottom: 10px }

	.mdt2-vdbg-import-config-hidden
	{ display: none }
	
	.mdt2-vdbg-import-config-dialog-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		
		background: #000a;
	}
	
	.mdt2-vdbg-import-config-exit-button {
		position: absolute;
		top: 10px;
		right: 10px;
		
		font-size: 13px;
	}
	
	.mdt2-vdbg-import-config-dialog {
		position: absolute;
		top: 50%;
		left: 50%;
		
		transform: translate(-50%, -50%);
		
		padding: 16px;
		
		background: var(--color-e5, #fff);
		color: var(--color-666, #666);
	}
	
	.mdt2-vdbg-import-config-dialog input {
		margin-bottom: 5px;
	
		font-size: 12px;
	}
	
	.mdt2-vdbg-presets-section {
		padding: 10px;
		
		border-bottom: 1px solid var(--color-b8, #e6e6e6)
	}
	
	.mdt2-vdbg-presets-container {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
	}
	
	.mdt2-vdbg-preset-item {
		flex-grow: 1;
	
		padding: 5px 10px;
		
		border: 1px solid var(--color-b8, #dbdbdb);
	}
	
	.mdt2-vdbg-preset-item-label
	{ width: 100% }
	
	.mdt2-vdbg-preset-item-icon {
		display: inline-block;
		
		-webkit-transform: translateY(3px);

		margin-right: 5px;
	
		width: 16px;
		height: 16px;
	}
	
	.mdt2-vdbg-preset-item-icon-centered-layout
	{ background: no-repeat icons }

	.mdt2-vdbg-preset-item-icon-appbar-fusion
	{ background: no-repeat icons 0 -17px }
	
	.mdt2-vdbg-preset-item-icon-cardification,
	.mdt2-vdbg-preset-item-icon-watch8
	{ background: no-repeat icons 0 -34px }
	
	.mdt2-vdbg-preset-item-icon-dark-mode
	{ background: no-repeat icons 0 -51px }
	
	.mdt2-vdbg-preset-item-icon-gbar
	{ background: no-repeat icons 0 -68px }
	
	.mdt2-vdbg-preset-item-buttons {
		display: flex;
		justify-content: flex-end;
		
		margin-top: 2px;
	}
	
	.mdt2-vdbg-preset-item-buttons .jfk-button
	{ min-width: 24px }
	
	.mdt2-vdbg-preset-item-buttons .jfk-button-default
	{ margin-right: 5px }

	.mdt2-vdbg-config-search-controls {
		display: flex;

		margin-bottom: 5px;

		height: fit-content;
	}

	.mdt2-vdbg-config-search-bar {
		margin-right: 5px;
	
		width: 100%;
	}
	
	.mdt2-vdbg-config-search-tags
	{ padding: 5px 5px 6px }
}