/* ==UserStyle==
@name         semi-better theater mode
@description  an attempt to make theater mode act more like in modern YouTube
@version      2.4

@author     macimas (https://macimas.github.io)
@namespace  https://github.com/macimas

@preprocessor default

@var  text  mdt2-player-height-offset  "Player height offset"  184px
@var  text  mdt2-video-height-offset   "Video height offset"   3px

@var  text  mdt2-playlist-sidebar-width          "Playlist sidebar width"          380px
@var  text  mdt2-playlist-sidebar-height-offset  "Playlist sidebar height offset"  35px

@var  checkbox  mdt2-kill-vordebugger-hitbox  "Kill hitbox around Vordebugger expander (workaround fix if blocks video controls)"  0
==/UserStyle== */

@-moz-document domain("www.youtube.com") {
    :root {
        /* you probably do not need to modify these variables */
        
        --mdt2-calc-player-height: calc(100vh - var(--mdt2-player-height-offset));
        --mdt2-calc-video-height: calc(100% - var(--mdt2-video-height-offset));
        --mdt2-calc-playlist-sidebar-height-offset: calc(var(--mdt2-calc-player-height) - var(--mdt2-playlist-sidebar-height-offset))
    }
    
    if var(--mdt2-kill-vordebugger-hitbox) {
        #vor_debugger_container .hitbox-area
        { display: none }
    }

    /*
        === magical stuff ===
    */

    .appbar-mini-cinema #player.watch-medium:before
    { background-color: transparent }

    #player.watch-medium {
        padding-left: 0px !important;
        width: 100% !important;
    }

    #player.watch-medium .player-width
    { width: 100% }

    #player.watch-medium .player-height
    { height: var(--mdt2-calc-player-height) }

    #player.watch-medium video {
        top: 0px !important;
        left: 0px !important;

        object-fit: contain;

        width: 100% !important;
        height: 100% !important;
    }

    #player.watch-medium .html5-video-container {
        height: var(--mdt2-calc-video-height) !important;
    }

    #player.watch-medium .html5-video-content {
        top: 0px !important;
        
        width: 100% !important;
        height: 100% !important;
    }

    #player.watch-medium .html5-video-player.ended-mode video {
        opacity: 0%;
        transition: 0.16s opacity linear;
    }


    /* adjust playlist stuff */

    #player.watch-medium #playlist-tray
    { z-index: 900 }

    #player.watch-medium .watch7-playlist-bar
    { display: flex }

    #player.watch-medium .watch7-playlist-bar-left
    { width: 100% }

    #player.watch-medium .watch-sidebar {
        min-width: var(--mdt2-playlist-sidebar-width);
        left: unset;
        right: 0px;
    }

    #player.watch-medium #watch7-playlist-tray-container
    { height: var(--mdt2-calc-playlist-sidebar-height-offset) }

    .watch-playlist-collapsed #watch7-playlist-tray-container
    { height: 0 !important }


    /* adjust dialog stuff */

    #player.watch-medium .ytp-dialog-holder {
        width: 100%;
        height: 100%;
    }

    #player.watch-medium .ytp-dialog {
        position: absolute;
        
        top: 50% !important;
        left: 50% !important;
        
        margin-top: 0% !important;
        margin-left: 0% !important;

        transform: translate(-50%, -50%);
    }



    /*
        === autohide video controls ===
    */

    #player.watch-medium .html5-video-player:not(.ytp-block-autohide) .html5-player-chrome
    { height: 0 }

    #player.watch-medium .html5-video-player:not(.ytp-block-autohide) .html5-player-chrome > *
    { opacity: 0% }

    #player.watch-medium .html5-player-chrome
    { transition: 0.24s height ease-out }

    #player.watch-medium .html5-player-chrome > *
    { transition: 0.16s opacity ease-out }

    #player.watch-medium .html5-video-container
    { height: 100% }


    /* adjust subtitles for autohide */

    #player.watch-medium .html5-video-player:not(.ytp-block-autohide) .ytp-subtitles-player-content > div
    { padding-bottom: 0px }

    #player.watch-medium .ytp-subtitles-player-content > div
    { transition: 0.24s padding-bottom ease-out }
}