/* ==UserStyle==
@name         semi-better vordebugger
@description  an attempt to make theater mode act more like in modern YouTube
@version      1.1

@author     macimas (https://macimas.github.io)
@namespace  https://github.com/macimas

@preprocessor default

@var  text  mdt2-vordebugger-width   "Vordebugger width"   400px
@var  text  mdt2-vordebugger-height  "Vordebugger height"  calc(100vh - 64px)
==/UserStyle== */

@-moz-document domain("www.youtube.com") {
    :root {
        /* ah yes, blue can be red */
        /* for DARK_MOD compat stuff. you probably dont need to touch this */
        --var-red: var(--default-red, #d14836);
        --var-blue: var(--default-blue, var(--var-red));
    }

    #vor_debugger_container .hitbox-area
    { display: none }

    #vor_debugger_container
    { z-index: 2000000000 }

    .vdbg-titlebar
    { flex-shrink: 0 }

    .vordebugger .default-text-red
    { color: var(--var-red) }

    .vordebugger.expanded {
        display: flex;
        flex-direction: column-reverse;
        
        margin-right: 0px;
        
        width: var(--mdt2-vordebugger-width);
        max-height: var(--mdt2-vordebugger-height);
    }

    .vordebugger.expanded .vdbg-content {
        display: flex;
        flex-direction: column;
        
        border-width: 1px;
    }

    .vdbg-content .ddd-build-info {
        padding: 7px 10px;
        
        color: var(--color-black-text, #000);
        background: transparent;
    }

    .vor_smartnav, .vordebugger .smartnav, .vordebugger .smartnav_slotlist {
        overflow: hidden;
        display: flex;
    }

    .vordebugger .smartnav_slotlist {
        overflow-y: auto;
        
        margin-bottom: 40px;
    }

    .vordebugger .smartnav_slotlist::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        content: " ";

        height: 40px;
        
        background: var(--color-fff, transparent)
    }

    .vordebugger .smartadd_title
    { z-index: 1 }

    .vordebugger .smartadd_content
    { width: var(--mdt2-vordebugger-width)}

    .vordebugger .internal-config-section.outside
    { position: relative }

    .vordebugger .yt-uix-form-input-checkbox-container {
        margin-left: -3px;
        margin-right: 6px;
    }

    .vordebugger .logview-title {
        cursor: default;
        
        color: var(--var-blue);
    }

    .vordebugger .logview-title-expander
    { border-top-color: var(--var-blue) }

    .vordebugger .logview-title, .vordebugger .logview-subtitle
    { width: auto }


    .vordebugger .logview-stream, .vordebugger .internal-config
    { max-height: none }

    .vordebugger .internal-config-section + .internal-config-section
    { border-color: var(--color-ddd, #ddd) }

    .vordebugger .internal-config-section .internal-config-section-title {
        display: flex;
        
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 13px;
        
        margin-left: -5px;
        
        text-transform: none;
    }

    .vordebugger .internal-setting
    { line-break: anywhere }

    .vordebugger .internal-setting-description {
        margin-bottom: 8px;
        margin-left: 23px;
        
        max-width: none;
    }
}