/* ==UserStyle==
@name         semi-better theater mode
@description  an attempt to make theater mode act more like in modern YouTube
@version      2.13

@updateURL  https://macimas.github.io/stylin/v3/semi-better_theater_mode/v3.user.css

@author     macimas (https://macimas.github.io)
@namespace  https://github.com/macimas

@preprocessor stylus

@var  text  player-height-offset               "Player height offset"                 184px
@var  text  playlist-bar-height-consideration  "^ Playlist bar height consideration"  34px

@var  text  video-height-offset             "Video height offset"             3px
@var  text  playlist-sidebar-width          "Playlist sidebar width"          380px
@var  text  playlist-sidebar-height-offset  "Playlist sidebar height offset"  35px

@var  checkbox  autohide-controls       "Autohide controls"  1
@var  text      autohide-height-offset  "^ Height offset"    27px

@var  checkbox  autohide-progress-bar                "^ Autohide progress bar"        0
@var  checkbox  autohide-ignore-video-height-offset  "^ ^ Ignore video height offset"  1

@var  checkbox  shrink-video-by-controls    "^ Shrink video by controls"          0
@var  text      video-shrink-height-offset  "^ ^ Video height offset on shrink"  35px

@var  checkbox  fancy-transitions      "Fancy transitions for mode toggle"  1
@var  checkbox  fancy-transitions-fix  "^ Fix video list jerking"           1

@var  checkbox  remove-top-padding  "Remove space above the player"  1

@var  checkbox  custom-player-compat  "Compat for CSS-applied custom players"  1

@var  checkbox  tweak-vordebugger-hitbox  "Tweak vordebugger hitbox (enable if you cannot use video controls near the vordebugger expander)"  0
==/UserStyle== */

@-moz-document domain("www.youtube.com") {
	calc-player-height = s(
		"calc(100vh - %s)", player-height-offset)

	calc-playlist-player-height = s(
		"calc(%s - %s)", calc-player-height, playlist-bar-height-consideration)

	calc-autohide-height-offset = s(
		"calc(%s * -1)", autohide-height-offset)

	calc-playlist-sidebar-height-offset = s(
		"calc(%s - %s - %s)", calc-player-height, playlist-sidebar-height-offset, playlist-bar-height-consideration)
	
	fit-player = @block {
		top: unset !important;
		left: unset !important;

		width: 100% !important;
		height: 100% !important;
	}
	
	fit-center = @block {
		top: 50% !important;
		left: 50% !important;

		transform: translate(-50%, -50%);
	}
	
	base-page = '#page.watch'
	no-fullscreen = 'html:not([data-player-size="fullscreen"]) #page.watch'

	/*
	** there is an issue where the hitbox around the vordebugger may block video controls
	** as a workaround, the user may toggle this to fix this
	*/
	
	if (tweak-vordebugger-hitbox) {
		body:has(#page.watch) {
			#vor_debugger_container {
				width: fit-content;
				height: fit-content;
			}

			#vor_debugger_container .hitbox-area {
				right: unset;

				width: 100%;
				height: 100%;
			}

			#vor_debugger_container .hitbox-area + .vordebugger:not(.expanded)
			{ position: relative }
		}
	}
	
	/*
	** compat tweaks for css-applied custom players
	*/

	if (custom-player-compat) {
		{base-page} {
			& #player.watch-medium .html5-video-player {
				&:not(.ytp-block-autohide) .html5-player-chrome
				{ padding-bottom: unset }

				& .ytp-subtitles-player-content .standard-caption-window
				{ padding-bottom: 15px }
			}
		}
	}

	/*
	** === toggle with transition! ===
	*/
		
	if (fancy-transitions) {
		#page #player, .player-width, .player-height
		{ transition: 0.24s width ease-in-out, 0.24s height ease-in-out, 0.24s padding-left ease-in-out }

		#player.watch-small:is(:not(.watch-playlist-collapsed)) #watch7-playlist-tray-container
		{ transition-delay: 0.24s }

		html:has(#player.watch-medium) #watch7-sidebar
		{ transition-delay: 0.24s }

		#page #player
		{ margin-bottom: unset }

		{base-page} #player {
			& .html5-video-player:not(.ended-mode) video {
				{fit-player};
				object-fit: contain;
			}
		}

		#page #watch7-sidebar
		{ width: 100% }

		if (fancy-transitions-fix) {
			#watch7-main {
				width: fit-content;
				min-width: unset;
			}
			
			.cardified-page #watch7-container:not(.watch-wide) #watch7-sidebar {
				animation-name: top-fix;
				animation-duration: calc(0.24s * 2);
			}
			
			@keyframes top-fix {
				0% { top: 10px }
				50% { top: 10px }
				100% { top: 0px }
			}
		}
		
		.watch7-playlist-bar {
			display: flex
		
			.watch-sidebar {
				min-width: unset;
				max-width: unset;
			}

			.watch7-playlist-bar-right {
				flex-shrink: 0;

				width: 400px;

			}

			.watch7-playlist-bar-left
			.watch7-playlist-bar-right {
				transition: 0.24s width ease-in-out;
			}
		}
	}

	/*
	** === tweak and expand the theater! ===
	*/
	
	{base-page} {
		if (remove-top-padding) {
			&:has(#player.watch-medium)
			{ padding-top: unset }
		}

		if (fancy-transitions) {
			&
			{ transition: 0.24s ease-in-out padding-top }

			& .html5-video-container
			{ transition: 0.24s bottom ease-out }
		}
	}
	
	{no-fullscreen} #player.watch-medium {
		& .html5-video-container {
			bottom: video-height-offset;
		}
	}

	{base-page} #player.watch-medium {
		padding-left: unset;
		width: 100%;
		
		&::before
		{ display: none }

		& .player-width
		{ width: 100% }

		& .player-height
		{ height: calc-player-height }

		&.watch-playlist .player-height
		{ height: calc-playlist-player-height }

		& video {
			{fit-player};
			object-fit: contain;
		}

		& .html5-video-content {
			{fit-player};
		}

		& .html5-video-player.ended-mode video
		{ opacity: 0% }

		/* adjust playlists */

		& .watch7-playlist-bar
		{ display: flex }

		& .watch7-playlist-bar-left
		{ width: 100% }

		& .watch-sidebar {
			left: unset;
			right: 0px;
			
			width: playlist-sidebar-width;
			max-width: unset;
		}

		& #playlist-tray #watch7-playlist-tray-container
		{ height: calc-playlist-sidebar-height-offset }

		&.watch-playlist-collapsed #watch7-playlist-tray-container
		{ height: 0px !important }
		
		/* adjust z-index for some elements for playlist */
		
		&.watch-playlist {
			& .ytp-dialog-holder,
			& .html5-video-controls
			{ z-index: 2001 }
		}

		/* adjust dialogs */

		& .ytp-dialog-holder {
			pointer-events: none;
		
			width: 100%;
			height: 100%;
		}

		& .ytp-dialog {
			{fit-center};
		
			pointer-events: auto;
			position: absolute;

			margin-top: 0% !important;
			margin-left: 0% !important;
		}

		/* adjust annotations */

		& .html5-video-content .video-annotations
		{ height: 100% }

		& .annotation.iv-cards {
			{fit-player};
			display: flex;
		}
		
		& .iv-cards-details {
			top: 50% !important;
			transform: translateY(-50%);
		}
		
		/* adjust subtitles */

		& .ytp-subtitles-player-content
		{ bottom: video-height-offset }
	}
	
	if (autohide-controls) {
		{base-page} #player.watch-medium .html5-video-player {
			&:not(.ytp-block-autohide) {
				& .html5-video-controls
				{ margin-bottom: calc-autohide-height-offset }

				& .html5-player-chrome > *
				{ opacity: 0% }

				if (autohide-progress-bar) {
					& .ytp-progress-bar-container {
						opacity: 0%;

						transition-delay: 0.24s;
					}

					if (autohide-ignore-video-height-offset) {
						& .html5-video-container
						{ bottom: 0px }
					}
				}
			}
		}

		if (shrink-video-by-controls) {
			{no-fullscreen} #player.watch-medium .ytp-block-autohide .html5-video-container
			{ bottom: video-shrink-height-offset }

			{no-fullscreen} #player.watch-medium .ytp-block-autohide .ytp-subtitles-player-content
			{ bottom: video-shrink-height-offset }
		}

		/* transitions */

		{base-page} #player.watch-medium {
			& .html5-video-controls
			{ transition: 0.24s margin-bottom ease-out }

			& .html5-player-chrome > *
			{ transition: calc(0.24s / 2) opacity ease-out }

			& .ytp-subtitles-player-content
			{ transition: 0.24s bottom ease-out }

			& .ytp-progress-bar-container
			{ transition: 0.24s opacity ease-out }
		}
	}
}