/* ==UserStyle==
@name         semi-better theater mode
@description  an attempt to make theater mode act more like in modern YouTube
@version      2.10

@author     macimas (https://macimas.github.io)
@namespace  https://github.com/macimas

@preprocessor stylus

@var  checkbox  autohide-controls         "Autohide controls"           1
@var  checkbox  shrink-video-by-controls  "^ Shrink video by controls"  0

@var  text  player-height-offset               "Player height offset"                 184px
@var  text  playlist-bar-height-consideration  "^ Playlist bar height consideration"  34px

@var  text  video-height-offset         "Video height offset"              3px
@var  text  video-shrink-height-offset  "Video height offset (on shrink)"  35px

@var  text  playlist-sidebar-width          "Playlist sidebar width"          380px
@var  text  playlist-sidebar-height-offset  "Playlist sidebar height offset"  35px

@var  checkbox  fancy-transitions  "Fancy transitions for mode toggle"  0

@var  checkbox  tweak-vordebugger-hitbox  "Tweak vordebugger hitbox (enable if you cannot use video controls near the vordebugger expander)"  0
==/UserStyle== */

@-moz-document domain("www.youtube.com") {
	calc-player-height = s(
		"calc(100vh - %s)", player-height-offset)

	calc-playlist-player-height = s(
		"calc(%s - %s)", calc-player-height, playlist-bar-height-consideration)

	calc-video-height = s(
		"calc(100% - %s)", video-height-offset)

	calc-video-shrink-height = s(
		"calc(100% - %s)", video-shrink-height-offset)

	calc-playlist-sidebar-height-offset = s(
		"calc(%s - %s - %s)", calc-player-height, playlist-sidebar-height-offset, playlist-bar-height-consideration)

	/*
	** there is an issue where the hitbox around the vordebugger may block video controls
	** as a workaround, the user may toggle this to fix this
	*/
	
	if (tweak-vordebugger-hitbox) {
		body:has(#page.watch) {
			#vor_debugger_container {
				width: fit-content;
				height: fit-content;
			}

			#vor_debugger_container .hitbox-area {
				right: unset;

				width: 100%;
				height: 100%;
			}

			#vor_debugger_container .hitbox-area + .vordebugger:not(.expanded)
			{ position: relative }
		}
	}

	/*
	** === toggle with transition! ===
	*/
		
	if (fancy-transitions) {
		#page #player, .player-width, .player-height
		{ transition: 0.24s width ease-in-out, 0.24s height ease-in-out }

		/* feels a bit goofy doing this but it makes transition somewhat less jarring */

		html:not([data-player-size="fullscreen"]) #page.watch #player {
			& .html5-video-player:not(.ended-mode) video {
				object-fit: contain;

				top: unset !important;
				left: unset !important;

				width: 100% !important;
				height: 100% !important;
			}
		}

		#watch7-sidebar
		{ width: 100% }

		html:has(#player.watch-medium) #watch7-sidebar
		{ transition-delay: 0.24s }
	}

	/*
	** === tweak and expand the theater! ===
	*/

	html:not([data-player-size="fullscreen"]) #page.watch #player.watch-medium {
		padding-left: unset;
		width: 100%;
		
		&:before
		{ display: none }

		& .player-width
		{ width: 100% }

		& .player-height
		{ height: calc-player-height }
		
		/* adjust player height for playlist */
		&:has(#playlist > .watch7-playlist) .player-height
		{ height: calc-playlist-player-height }

		& video {
			object-fit: contain;

			top: unset !important;
			left: unset !important;

			width: 100% !important;
			height: 100% !important;
		}

		& .html5-video-container
		{ height: calc-video-height }
		
		if (autohide-controls && shrink-video-by-controls) {
			& .ytp-block-autohide .html5-video-container
			{ height: calc-video-shrink-height }
		}

		& .html5-video-container
		{ transition: 0.24s height ease-out }

		& .html5-video-content {
			top: unset !important;
			left: unset !important;

			width: 100% !important;
			height: 100% !important;
		}

		& .html5-video-player.ended-mode video
		{ opacity: 0% }


		/* adjust playlists */

		& .watch7-playlist-bar
		{ display: flex }

		& .watch7-playlist-bar-left
		{ width: 100% }

		& .watch-sidebar {
			min-width: playlist-sidebar-width;
			left: unset;
			right: 0px;
		}

		& #playlist-tray #watch7-playlist-tray-container
		{ height: calc-playlist-sidebar-height-offset }

		&.watch-playlist-collapsed #watch7-playlist-tray-container
		{ height: 0px !important }


		/* adjust dialogs */

		& .ytp-dialog-holder {
			pointer-events: none;
		
			width: 100%;
			height: 100%;
		}

		& .ytp-dialog {
			pointer-events: auto;
		
			position: absolute;

			top: 50% !important;
			left: 50% !important;

			margin-top: 0% !important;
			margin-left: 0% !important;

			transform: translate(-50%, -50%);
		}


		/* adjust annotations */

		& .html5-video-content .video-annotations
		{ height: 100% }

		& .annotation.iv-cards {
			display: flex;

			top: unset !important;
			left: unset !important;

			width: 100% !important;
			height: 100% !important;
		}

		& .iv-cards-details {
			top: 50% !important;
			left: 50% !important;

			transform: translate(-50%, -50%);
		}


		/*
		** === autohide video controls! ===
		*/

		if (autohide-controls) {
			& .html5-video-player:not(.ytp-block-autohide) .html5-player-chrome
			{ height: 0px }

			& .html5-video-player:not(.ytp-block-autohide) .html5-player-chrome > *
			{ opacity: 0% }


			/* adjust subtitles */
			
			& .ytp-subtitles-player-content
			{ height: calc-video-height }
			
			& .ytp-block-autohide .ytp-subtitles-player-content
			{ height: calc-video-shrink-height }
		}

		& .html5-player-chrome
		{ transition: 0.24s height ease-out }

		& .html5-player-chrome > *
		{ transition: calc(0.24s / 2) opacity ease-out }

		& .ytp-subtitles-player-content
		{ transition: 0.24s height ease-out }
	}
}